{% extends "tenants/base.html" %}


{% block content %}
<br>
<center>
    <h1>Buildings</h1>
</center>

    <br>

    <hr/>

    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        {% for building in buildings %}

        <div class="col">
          <div class="card shadow">

            <img src="{{ building.building_image.url }}" class="card-img-top" alt="building_image">

            <div class="card-body">
              <h5 class="card-title">{{ building }}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Total Flat: {{ building.total_flat }}</li>
                <li class="list-group-item">Owner: {{ building.owner }}</li>
                <li class="list-group-item">Address: {{ building.Location }}, {{ building.District }}</li>
                
            </div>

            <a href="{% url 'show-flats' building.id %}" class="btn btn-primary mx-4">See Flats</a>
            <br>
          </div>
        </div>

        <br>

        {% endfor %}
        
        
      </div>
    

{% endblock %}